{% extends "base_site.html" %}
{% load i18n %}
{% block content %}
<form id='frmComebackDb'name='frmComebackDb' method='POST' enctype='multipart/form-data'>
<div class='container' style='margin-top:0px; width:420px;'>	

{{ content }}

	<div>
		<span style='width:150:'><label>{%trans "Upload file location"%}:</label></span>
		<span style='float:left'>
			<input type='file' class='text' value='' name='fileUpload' id='fileUpload'/>
		</span>	
	</div>
&nbsp;
</br>&nbsp;</br>&nbsp;<p />&nbsp;<p />
<div>
<input name='submit' value='{%trans "ok"%}' type='submit' class='button first'/>
<input type="submit" value="{%trans "return"%}" onclick="window.history.back(); return false;">
</div>
</div>
</form>
{% endblock %}
